body{
    background-color: #ffffff;
}
#aside{
    width: 600px;
    height: 650px;
    overflow: hidden;
    clip-path: inset(0px 0px 0px 0 round 20px);
    background-color: #164863;
}
#logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
#garis{
    width: 500px;
    
}
#txtUser, #txtPass, #rdsiswa, #rdtentor, #txtHakAkses, #txtEmail, #txtNoHP, #txtrd{
    font-family: 'Didot';
    font-size: 25px;
}
#btnSubmit,#btnRegis, #btnLogin{
    font-size: 20px;
    font-family: 'Didot';
    background-color: #ffffff;
    margin-left: 20px;
}
#content{
    font-family: 'Cambria';
    -webkit-text-stroke: rgb(0, 0, 0) 1px;
    color: #164863;
}


@tailwind base;
@tailwind components;
@tailwind utilities;